body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movable-element {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  user-select: none;

  position: absolute;
  left: 0;
  top: 0;
}

  